
body{
    font-family: 'Emigre';
    background-color: rgb(250, 236, 219);
}



footer{
    height: min-content;
    padding-top: 0.5em;
    width: 100%;
    background-color: rgb(250, 236, 219);
}
.navbar{
    background-color: rgb(250, 236, 219);
}
img {
    width: 100%;
  }
  .row{
      margin-top: 0.5em;
      margin-bottom: 0.5em;
  }
  .col-lg{
      vertical-align: center;
      margin: auto;

  }
  h1{
      text-align: center;
  }
  .review{
      margin: auto;
      border: 2px solid rgb(184, 182, 182);
      border-radius: 2%;
      height: 10em;
      width: 50%;
      margin-top: 1em;
      padding: 1em;
  }
  #spiderman{
      width: 25%;
      margin: auto;
      align-self: center;
      display: block;
  }
  p{
      text-align: center;
  }
  .bio{
      margin: 2em;
      font-size: 20px;
  }
  h2{
      text-align: center;
  }
    /* Mobile Styles */
  
@media only screen and (max-width: 400px) {
    #carouselExampleControls{
        width: 100%;
        margin: auto;
        padding: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    #carouselExampleControls{
        width: 100%;
        margin: auto;
        padding: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    #carouselExampleControls{
        width: 60%;
        margin: auto;
        padding: 1em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}